@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*,::before,::after{
  box-sizing: border-box;
  --width: 14rem
}
h1{
  margin: 0;
}
body{
  margin: 0;
  background-color: #73A9AD;
  font-family: 'Lato', sans-serif;
}
.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;   
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
}
@media (min-width: 390px) {
  .card-grid { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 500px) {
  .card-grid { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .card-grid { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1000px) {
  .card-grid { grid-template-columns: repeat(4, 1fr); }
}
.card{
  margin: 1px;
  border-radius: 1.5em;
  width: 16rem;
  height: 18rem;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  gap: .5rem;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #90c8ac62;
}
.card-grid>div:hover{
  cursor: pointer;
  box-shadow: 1rem ;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}
.header{
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #90c8ac9c;
  margin-bottom: 2rem;
  color: white;
}
.title{
  font-size: 2.5rem;
}
.score{
  padding-top: .5rem;
  font-size: 1.5rem;
}
.warning{
  padding: 1rem;
  font-size: 1.5rem;
}
